.case-status-container {
  align-items: center;
  margin: 0 auto;
  display: block;
}
.container {
  padding: 20px;
}
.case-status-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
}

.case-status-username {
  font-size: 25px;
  color: #1d1a60;
  align-self: flex-start;
  margin-bottom: 0;
}

.case-status-nric {
  font-size: 23px;
  color: #555555;
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 15px;
}

.case-status-police-report {
  font-size: 18px;
  font-weight: 600;
  color: #555555;
  align-self: flex-start;
}

.case {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #1d1a60;
  width: 363.99px;
  padding: 20px;
  margin-bottom: 20px;
}

.case-first-half {
  display: flex;
  flex-direction: column;
}

.caseimg {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  margin-top: -8%;
}

.pinandio {
  display: flex;
  flex-direction: column;
}

.pin,
.io {
  vertical-align: middle;
  margin-right: 10px;
}

.ref,
.ref + p,
.type,
.type + p {
  display: inline-block;
  margin-right: 10px;
}
.lastupdate {
  font-size: 13px;
}
.ref,
.type {
  color: #1d1a60;
  font-weight: bold;
}
.reporttype {
  margin-top: -5%;
}
.viewupdate {
  width: 350px;
  max-height: 50px;
  background-color: #1d1a60;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view {
  color: #ffff;
}

.update1 {
  margin-bottom: -5%;
}
.lastupdate {
  margin-top: 0%;
}
