.LostNFoundHeader {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@font-face {
  font-family: "Neue Montreal";
  src: local("Neue Montreal");
}
.incident-header {
  color: #1d1a60;
  font-size: 25px;
  padding: 3%;
  text-align: left;
  margin-top: 0%;
  width: 100%;
}
i-star {
  color: #eb312e;
}
.select-lnf {
  width: 350px;
  height: 39.69px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-direction: column;
  font-size: 15px;
  color: #1d1a60;
  margin-top: -5%;
}
.confirm-lnf {
  width: 350px;
  max-height: 50px;
  background-color: #1d1a60;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  margin: 10px 0;
  flex-direction: column;
  margin-bottom: -10%;
  margin-top: 0;
}
.urgent-lnf {
  color: #eb312e;
  text-align: left;
  padding: 3%;
  margin-top: 5%;
}
.container-lnf {
  padding: 20px;
  text-align: left;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  margin-top: -5%;
}
.input-lnf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.star {
  color: #eb302f;
}
.info {
  color: #2e2e2e;
}
.description {
  color: #3a3a3a;
  text-align: left;
  font-size: 12px;
  margin-top: -5%;
}
.input-decription {
  width: 350px;
}
.custom-input {
  width: 350px; /* Make the input take up 100% of its container width */
  padding: 10px; /* Increase padding to make it thicker */
  border: 2px solid #ccc; /* Add a border for styling */
  border-radius: 5px; /* Add rounded corners for styling */
  font-size: 16px; /* Adjust font size as needed */
  margin-top: 3%;
}
.handle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  width: 100%;
  border: none;
  padding-top: 0;
  justify-content: space-evenly; /* Add space between and evenly distribute */
}

.backbutton {
  color: #1d1a60;
  background-color: transparent;
  border: 1px solid #1d1a60;
  display: flex;
  align-items: center;
  height: 50px;
  width: 150px;
  margin-right: 10px; /* Add margin to create space between buttons */
  justify-content: center;
}

.confirmbutton {
  background-color: #1d1a60;
  color: #ffffff;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  margin-left: 10px; /* Add margin to create space between buttons */
  justify-content: center;
}
.lnf-complete {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.return {
  width: 350px;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1d1a60;
  color: #ffffff;
}
.return-container {
  justify-content: center;
  display: flex;
}
