.news-container {
  flex: 1;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: 0px solid #333;
  max-width: 350px;
}

.news-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.news-text {
  font-size: 18px;
  color: black;
}
.news-header {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.news-today {
  font-size: 20px;
  padding: 20px;
  margin-bottom: -3%;
}
